.App {
  width: 512px;
  margin: 4rem auto 0;
  border: 1px solid #000;
  padding: 2rem;

  .Button + .Button {
    margin-top: 1rem;
  }

  .customize-button {
    background: #000 !important;
    color: #fff !important;
  }
}
